:root {
    --carrotColor: #ed9121;
    --buttonHover: #cca184;
    --formBorder: #644c3e1e;
    --formShadow: #7d66525c;
}
.form h1 {
    text-transform: uppercase;
    margin-top: 12px;
    color: var(--carrotColor);
    text-align: center;
    font-weight: bold;
    text-decoration: wavy;
}

form {
    background-color: #eee;
    padding: 4.63em;
    margin: .7em auto;
    border-radius: .4em;
    box-shadow: 0.2rem 0.2rem #959595;
    width: 37%;

    
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 8px 0 var(--formShadow);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid var(--formBorder);
    
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);

}

.field {
    border-color: 2px #ed9121;
}

.ui.button {
    width: 100%;
    background-color: var(--carrotColor);
    padding: 1em;
    text-transform: uppercase;
    margin-top: 3rem;
}

.ui.button:hover{
    background-color: var(--buttonHover);
}
.form input{
    width: 30%;
}

.ui img {
    display: block;
    margin: 1rem auto;
    border-radius: 4em;
}

button.login {
    background-color: #ed9121;
    border: #ed9121;
    color: #fff;
}

button.edit {
    padding: 4.35px;
}

button.login:hover {
    background-color: #a56426;
}


