.add-device{
    width: 60%;
    margin: 1em;
    margin-top: 5em;
}
.add-device .add-device-btn {
    border-radius: 10px;
}

.input-group-text{

}

.add-device-btn:hover {
    background-color: #ed9121;
    border: #ed9121;
}

.inputNewName{
    padding: 10px;
}

.modal-content{
    padding: 30px;
}

.modal-content .add-device-btn{
    margin: 0px;
    margin-left: -10px;
}