.question {
    width: 500px;
    height: 500px;
}

.question-container {
    width: 100%;
    height: 100%;
}
.chartclass{
    position: absolute;
    top: 640px;
}
.chartclas{
    position: absolute;
    top: 1140px;
}

.view-report{
    margin-top: 5px;
}
