:root {
    --navColor: #644c3e;
}

.navbar {
    height: 96px;
    background-color: var(--navColor);
    position: fixed;
    width: 100%;
    z-index: 1000;

} 

.dropdown-item{
    padding: 5px;
}
.logout {
    background-color: #ffbe7d;
    position: fixed;
    left: 150px;
    top: 30px;
}

.edit-profile {
    position: fixed;
    right: 110px;
    top: 30px;
}

.main-nav {
    position: fixed;
    right: 200px;
}

.brand {
    position: fixed;
    left: 50px;
    top: 30px;
}