* {
    direction: rtl;
}
.page-title {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin-top: 3.7em;
}

.humidity-input {
    width: 40%;
    padding: 0rem;
    margin: 0 auto;
}

.set-form-btn{
    display: block;
    margin: auto;
    width: 40%;
}

.success-modal{
    color: green;
}

.success-btn{
    margin: 0px;
}

.modal-header{
    border-bottom: none;
}

.modal-footer{
    border: none;
}

.modal-content{
    text-align: center;
}


